<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= checkStudent.sName %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div align="center">
        <div class="alert alert-success" role="alert">
            <h3>Edit Student</h3>
        </div>
    </div>

    <form action="/api/student/<%= checkStudent._id %>?_method=PUT" method="post">
        <div class="form-group">
            <label for="">Student Name :- </label>
            <input type="text" name="sName" id="sName" value="<%= checkStudent.sName %>" class="form-control form-control-md"
            placeholder="Enter Your Name" required>
        </div>
        <div class="form-group">
            <label for="">Student Roll No. :- </label>
            <input type="text" name="rollNo" id="rollNo" value="<%= checkStudent.rollNo %>" class="form-control form-control-md"
            placeholder="Enter Your Roll No" required>
        </div>
        <div class="form-group">
            <label for="">Student Age :- </label>
            <input type="text" name="age" id="age" value="<%= checkStudent.age %>"  class="form-control form-control-md"
            placeholder="Enter Your Age" required>
        </div>
        <button type="submit" class="btn btn-primary">Edit Student</button>
    </form>

</body>

</html>